<div class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center rounded"
       style="background-color: #91ca71">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Проект каштанка</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this
        example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


  <div class="album py-5 ">
    <div class="container d-flex justify-content-center rounded"
         style="background-color: #91ca71">
      <h3 style="color: #fdfdfd">Лучшие собаки месяца!</h3>
    </div>

    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="assets/cats/cat.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text d-flex justify-content-center">Сем</h3>
              <p class="card-text">Я уже засиделась в приюте! Настоящая ночная фурия ждёт в приюте только Тебя!</p>
              <div class="d-flex justify-content-center">
                <div class="btn-group shadow-lg">
                  <button type="button" class="btn p-2 rounded"
                          style="background-color: #91ca71">
                    <h5 class="fw-bold" style="color: #f9f9f9">УЗНАТЬ БОЛЬШЕ</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="assets/cats/dog.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text d-flex justify-content-center">Фея</h3>
              <p class="card-text">Меня зовут Фея. Я очень стеснительная и милая собака. Мне нужно внимание и доверие
                человека, и тогда я буду самой счастливой собакой!</p>
              <div class="d-flex justify-content-center">
                <div class="btn-group shadow-lg">
                  <button type="button" class="btn p-2 rounded"
                          style="background-color: #91ca71">
                    <h5 class="fw-bold" style="color: #f9f9f9">УЗНАТЬ БОЛЬШЕ</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="assets/cats/mem.jpg" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text d-flex justify-content-center">Макс</h3>
              <p class="card-text">Ей! Меня зовут Макс! Я немного застенчивый и милый парень, но сам по себе красавчик.
                И мне очень нужен дом и семья…</p>
              <div class="d-flex justify-content-center">
                <div class="btn-group shadow-lg">
                  <button type="button" class="btn p-2 rounded"
                          style="background-color: #91ca71">
                    <h5 class="fw-bold" style="color: #f9f9f9">УЗНАТЬ БОЛЬШЕ</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex justify-content-center rounded"
         style="background-color: #91ca71">
      <h1 class="text-white">
        С нами дружат и нам помогают!
      </h1>
    </div>

    <div class="row d-flex justify-content-center mt-4">
      <div class="col-auto">
        <img class="bi" width="410" height="200" style="max-width: 100%; height: auto;"
             src="assets/cats/brand1.png" alt="Card image cap">
      </div>
      <div class="col-auto">
        <img class="bi" width="410" height="200" style="max-width: 100%; height: auto;"
             src="assets/cats/brand2.png" alt="Card image cap">
      </div>
      <div class="w-100"></div>

      <div class="col-auto">
        <img class="bi" width="410" height="200" style="max-width: 100%; height: auto;"
             src="assets/cats/brand3.png" alt="Card image cap">
      </div>
      <div class="col-auto">
        <img class="bi" width="410" height="200" style="max-width: 100%; height: auto;"
             src="assets/cats/brand4.png.webp" alt="Card image cap" >
      </div>
    </div>
  </div>

</div>


<div class="d-flex flex-column wh-100" style="display: block;">
  <svg role="presentation" style="height: 4vw; fill: rgb(146, 204, 114);"
       xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 190" preserveAspectRatio="none">
    <path d="M640 195.5L0 0v200h1280V0"></path>
  </svg>
</div>
<footer class="py-5 d-flex flex-column wh-100" style="background-color: #91ca71">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
             viewBox="0 0 24 24"><title>Product</title>
          <circle cx="12" cy="12" r="10"></circle>

          <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
        </svg>
        <small class="d-block mb-3 text-muted">© 2017–2021</small>
        <small class="d-block mb-3 text-muted">"Каштанка"</small>

      </div>
      <div class="col-6 col-md">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-white fw-bold text-decoration-none" href="#">Как помочь</a></li>
          <li><a class="link-secondary text-white fw-bold text-decoration-none" href="#">Наши собаки</a></li>
          <li><a class="link-secondary text-white fw-bold text-decoration-none" href="#">О проекте</a></li>
          <li><a class="link-secondary text-white fw-bold text-decoration-none" href="#">Блог</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Социальные сети</h5>
        <ul class="list-unstyled text-small">
          <li>
            <img width="20" height="20" style="max-width: 100%; height: auto;"
                 data-original="https://static.tildacdn.com/tild3265-3635-4938-a638-626531636539/logo_vk_vkontakte_ic.png" alt="" imgfield="tn_img_1649605306040" src="https://optim.tildacdn.com/tild3265-3635-4938-a638-626531636539/-/format/webp/logo_vk_vkontakte_ic.png">
            <a class="link-secondary text-white fw-bold text-decoration-none" href="#">Вконтакте</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Контакты и адрес</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-white fw-bold text-decoration-none" href="#">г. Томск</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
