<div class=" shadow" style="background-color: antiquewhite">
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-end">
      <div class="row">
        <h5 class="col fw-bold h6" style="color: #3b4050;">
          +7 (999) 999-99-99
        </h5>
        <div class="w-100"></div>
        <h5 class="col h6" style="color: #3b4050;"
            [innerText]="'pochta@dog.ru'">
        </h5>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <h5 class="fw-bold h6" style="color: #3b4050;">
        Россия, Томск
      </h5>
    </div>
  </div>

  <header class="d-flex justify-content-center py-3" style="background-color: antiquewhite">
    <ul class="nav nav-pills mt-4">
      <li class="nav-item"><a href="#" class="nav-link" aria-current="page"
                              style="color: #3b4050; font-weight: bold; font-size: large">Каштанка</a></li>
      <li class="nav-item"><a href="/pets" class="nav-link"
                              style="color: #3b4050; font-weight: bold; font-size: large">Pets</a></li>
      <li class="nav-item"><a href="#" class="nav-link"
                              style="color: #3b4050; font-weight: bold; font-size: large">Как помочь</a></li>
      <li class="nav-item"><a href="#" class="nav-link"
                              style="color: #3b4050; font-weight: bold; font-size: large">Контакты</a></li>
    </ul>
  </header>
</div>
